<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../include/css/bihu.css" rel="stylesheet">
    <link href="../include/css/bihu2.css" rel="stylesheet">
</head>
<body>
<div class="edit col-sm-8 col-sm-offset-2 col-xs-12">
    <input class="edit-title" maxlength="50" name="title" placeholder="标题" type="text" value="">
    <div class="editorElem">
        <div class="w-e-toolbar" id="toolbar-elem09231267537340249" style="background-color:#f1f1f1; border:1px solid #ccc;">
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-header"></i>
                <div class="w-e-droplist" style="margin-top:29px; width:100px; display:none;">
                    <p class="w-e-dp-title">设置标题</p>
                    <ul class="w-e-list">
                        <li class="w-e-item"><h1>H1</h1></li>
                        <li class="w-e-item"><h2>H2</h2></li>
                        <li class="w-e-item"><h3>H3</h3></li>
                        <li class="w-e-item"><h4>H4</h4></li>
                        <li class="w-e-item"><h5>H5</h5></li>
                        <li class="w-e-item"><p>正文</p></li>
                    </ul>
                </div>
            </div>
            <div class="w-e-menu" style="z-index:11;">
            <i class="w-e-icon-bold"></i>
        </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-italic"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-underline"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-strikethrough"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-pencil2"></i>
                <div class="w-e-droplist" style="margin-top:29px; width:120px; display:none;">
                    <p class="w-e-dp-title">文字颜色</p>
                    <ul class="w-e-block">
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#000000;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#eeece0;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#1c487f;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#4d80bf;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#c24f4a;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#8baa4a;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#7b5ba1;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#46acc8;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#f9963b;"></i></li>
                        <li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#ffffff;"></i></li>
                    </ul>
                </div>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-link"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-list2"></i>
                <div class="w-e-droplist" style="margin-top:29px; width:120px; display:none;">
                    <p class="w-e-dp-title">设置列表</p>
                    <ul class="w-e-list">
                        <li class="w-e-item"><span><i class="w-e-icon-list-numbered"></i> 有序列表</span></li>
                        <li class="w-e-item"><span><i class="w-e-icon-list2"></i> 无序列表</span></li>
                    </ul>
                </div>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-paragraph-left"></i>
                <div class="w-e-droplist" style="margin-top:29px; width:100px; display:none;">
                    <p class="w-e-dp-title">对齐方式</p>
                    <ul class="w-e-list">
                        <li class="w-e-item"><span><i class="w-e-icon-paragraph-left"></i> 靠左</span></li>
                        <li class="w-e-item"><span><i class="w-e-icon-paragraph-center"></i> 居中</span></li>
                        <li class="w-e-item"><span><i class="w-e-icon-paragraph-right"></i> 靠右</span></li>
                    </ul>
                </div>
            </div>
            <div class="w-e-menu" id="w-e-img4161368028366774" style="z-index:11;">
                <i class="w-e-icon-image"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-play"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-undo"></i>
            </div>
            <div class="w-e-menu" style="z-index:11;">
                <i class="w-e-icon-redo"></i>
            </div>
        </div>
        <div class="w-e-text-container" style="border:1px solid #ccc; border-top:none; height:300px; z-index:10;">
            <div class="w-e-text" contenteditable="true" id="text-elem03531134132190683" style="width:100%; height:100%;">
                <p><br></p>
            </div>
        </div>
    </div>
    <div class="add-forum">
        <div class="public-btn left-btn">
            上传封面<input class="" type="file" value="">
        </div>
        <button class="LoaderButton public-btn left-btn">从正文选择封面</button>
        <button class="public-btn edit-btn" style="margin-left: 10px; width: 110px;">添加版块(可选)</button>
        <button class="public-btn edit-btn" style="margin-left: 10px;">利益关系</button>
        <button class="public-btn edit-btn">选择长文类型</button>
    </div>
    <div class="dn">
        <div class="cover">
        </div>
        <p class="cover-tip">封面有且只有一张，建议使用清晰，优质的图片，避免使用GIF、带大量文字的图片。</p>
    </div>
    <div class="add-forum-bottom">
        <button class="edit-preview">手机端预览</button>
        <button class="LoaderButton edit-preview">预览发布</button>
    </div>
</div>
</div>
<script src="https://cdn.bihu-static.com/bihu-pc/static/js/styles.697a897b.chunk.js"></script>
<script src="https://cdn.bihu-static.com/bihu-pc/static/js/main.105d3b33.chunk.js"></script>
<script src="https://cdn.bihu-static.com/bihu-pc/static/js/runtime.ad13a2a6.js"></script>
<script src="https://cdn.bihu-static.com/bihu-pc/static/js/vendors~main.62931225.chunk.js"></script>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang=zh-CN>-->
<!--<script>var _czc=_czc||[];_czc.push(["_setAccount","1263920413"])</script>-->
<!--<base href=/ >-->
<!--<meta charset=utf-8>-->
<!--<meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">-->
<!--<meta name=renderer content=webkit|ie-comp|ie-stand>-->
<!--<meta name=theme-color content=#000000>-->
<!--<meta http-equiv=Pragma content=no-cache>-->
<!--<meta http-equiv=Cache-Control content=no-cache>-->
<!--<meta http-equiv=Cache content=no-cache>-->
<!--<meta http-equiv=Expires content=0>-->
<!--<title>币乎 - 好文有好报！</title>-->
<!--<meta content=币乎,bihu,区块链,区块链技术,币乎社区 name=keywords>-->
<!--<meta name=description content=币乎是为币圈量身定制的垂直社区平台。币乎通过代币激励的方式，使得用户的付出获得相应的回报。币乎是代币投资者的信息集散地，也是各个“币官方”与“币友”交流的平台。>-->
<!--<style>-->
    <!--#zs_win{display:none!important}-->
<!--</style>-->
<!--<script>-->
    <!--if(window._config={BUILD_ENV:"production",PUBLIC_URL:"https://cdn.bihu-static.com/bihu-pc",BIHU_PC_BEURL:"https://be02.bihu.com/bihube-pc",BIHU_PC_NEWBEURL:"https://gw.bihu.com",BIHU_PC_IMGURL:"https://oss02.bihu.com",BIHU_PC_IMGBEURL:"https://file.bihu.com",BIHU_PC_MOBILEURL:"https://m.bihu.com",BIHU_PC_CIURL:"https://st.bihu.com",BIHU_PC_VERSION:"2.6.0"},/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {-->
        <!--var pathName=window.location.pathname,search=window.location.search;-->
        <!--(-1<pathName.indexOf("/a/")||-1<pathName.indexOf("/s/"))&&(window.location.href=window._config.BIHU_PC_MOBILEURL+pathName+search)-->
    <!--}-->
<!--</script>-->
<!--<link rel="shortcut icon" href=https://cdn.bihu-static.com/bihu-pc/favicon.ico>-->
<!--<link href=https://cdn.bihu-static.com/bihu-pc/static/css/styles.9bbb614b.chunk.css rel=stylesheet>-->
<!--<link href=https://cdn.bihu-static.com/bihu-pc/static/css/main.70524d86.chunk.css rel=stylesheet>-->
<!--<body style="font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','PingFang SC','Microsoft YaHei','Source Han Sans SC','Noto Sans CJK SC','WenQuanYi Micro Hei',sans-serif;background:#f6f8f9">-->
<!--<div id=root>-->
    <!--<div class="edit col-sm-8 col-sm-offset-2 col-xs-12">-->
    <!--<input class="edit-title" maxlength="50" name="title" placeholder="标题" type="text" value="">-->
    <!--<div class="editorElem">-->
        <!--<div class="w-e-toolbar" id="toolbar-elem09231267537340249" style="background-color:#f1f1f1; border:1px solid #ccc;">-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-header"></i>-->
                <!--<div class="w-e-droplist" style="margin-top:29px; width:100px; display:none;">-->
                    <!--<p class="w-e-dp-title">设置标题</p>-->
                    <!--<ul class="w-e-list">-->
                        <!--<li class="w-e-item"><h1>H1</h1></li>-->
                        <!--<li class="w-e-item"><h2>H2</h2></li>-->
                        <!--<li class="w-e-item"><h3>H3</h3></li>-->
                        <!--<li class="w-e-item"><h4>H4</h4></li>-->
                        <!--<li class="w-e-item"><h5>H5</h5></li>-->
                        <!--<li class="w-e-item"><p>正文</p></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
            <!--<i class="w-e-icon-bold"></i>-->
        <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-italic"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-underline"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-strikethrough"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-pencil2"></i>-->
                <!--<div class="w-e-droplist" style="margin-top:29px; width:120px; display:none;">-->
                    <!--<p class="w-e-dp-title">文字颜色</p>-->
                    <!--<ul class="w-e-block">-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#000000;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#eeece0;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#1c487f;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#4d80bf;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#c24f4a;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#8baa4a;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#7b5ba1;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#46acc8;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#f9963b;"></i></li>-->
                        <!--<li class="w-e-item"><i class="w-e-icon-pencil2" style="color:#ffffff;"></i></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-link"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-list2"></i>-->
                <!--<div class="w-e-droplist" style="margin-top:29px; width:120px; display:none;">-->
                    <!--<p class="w-e-dp-title">设置列表</p>-->
                    <!--<ul class="w-e-list">-->
                        <!--<li class="w-e-item"><span><i class="w-e-icon-list-numbered"></i> 有序列表</span></li>-->
                        <!--<li class="w-e-item"><span><i class="w-e-icon-list2"></i> 无序列表</span></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-paragraph-left"></i>-->
                <!--<div class="w-e-droplist" style="margin-top:29px; width:100px; display:none;">-->
                    <!--<p class="w-e-dp-title">对齐方式</p>-->
                    <!--<ul class="w-e-list">-->
                        <!--<li class="w-e-item"><span><i class="w-e-icon-paragraph-left"></i> 靠左</span></li>-->
                        <!--<li class="w-e-item"><span><i class="w-e-icon-paragraph-center"></i> 居中</span></li>-->
                        <!--<li class="w-e-item"><span><i class="w-e-icon-paragraph-right"></i> 靠右</span></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="w-e-menu" id="w-e-img4161368028366774" style="z-index:11;">-->
                <!--<i class="w-e-icon-image"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-play"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-undo"></i>-->
            <!--</div>-->
            <!--<div class="w-e-menu" style="z-index:11;">-->
                <!--<i class="w-e-icon-redo"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="w-e-text-container" style="border:1px solid #ccc; border-top:none; height:300px; z-index:10;">-->
            <!--<div class="w-e-text" contenteditable="true" id="text-elem03531134132190683" style="width:100%; height:100%;">-->
                <!--<p><br></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="add-forum">-->
        <!--<div class="public-btn left-btn">-->
            <!--上传封面<input class="" type="file" value="">-->
        <!--</div>-->
        <!--<button class="LoaderButton public-btn left-btn">从正文选择封面</button>-->
        <!--<button class="public-btn edit-btn" style="margin-left: 10px; width: 110px;">添加版块(可选)</button>-->
        <!--<button class="public-btn edit-btn" style="margin-left: 10px;">利益关系</button>-->
        <!--<button class="public-btn edit-btn">选择长文类型</button>-->
    <!--</div>-->
    <!--<div class="dn">-->
        <!--<div class="cover">-->
        <!--</div>-->
        <!--<p class="cover-tip">封面有且只有一张，建议使用清晰，优质的图片，避免使用GIF、带大量文字的图片。</p>-->
    <!--</div>-->
    <!--<div class="add-forum-bottom">-->
        <!--<button class="edit-preview">手机端预览</button>-->
        <!--<button class="LoaderButton edit-preview">预览发布</button>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<script src=https://cdn.bihu-static.com/bihu-pc/static/js/styles.697a897b.chunk.js></script>-->
<!--<script src=https://cdn.bihu-static.com/bihu-pc/static/js/main.105d3b33.chunk.js></script>-->
<!--<script src=https://cdn.bihu-static.com/bihu-pc/static/js/runtime.ad13a2a6.js></script>-->
<!--<script src=https://cdn.bihu-static.com/bihu-pc/static/js/vendors~main.62931225.chunk.js></script>-->
<!--<div style=display:none>-->
    <!--<script>var cnzz_protocol="https:"==document.location.protocol?" https://":" http://";document.write(unescape("%3Cspan id='cnzz_stat_icon_1263920413'%3E%3C/span%3E%3Cscript src='"+cnzz_protocol+"s19.cnzz.com/z_stat.php%3Fid%3D1263920413' type='text/javascript'%3E%3C/script%3E"))</script>-->
<!--</div>-->